<div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="debt in bc.billingCycle.debts">
                    <td>
                        <input type="text" class="form-control" ng-model="debt.name" placeholder="Informe o nome" ng-readonly="bc.tabDelete">
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-model="debt.value" placeholder="Informe o valor" ng-readonly="bc.tabDelete">
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="debt.status" placeholder="Informe o status" ng-readonly="bc.tabDelete">
                    </td>
                    <td class="table-actions">
                        <button class="btn btn-success" ng-class="{disabled: bc.tabDelete}" ng-click="bc.addDebt($index)">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-warning" ng-class="{disabled: bc.tabDelete}" ng-click="bc.cloneDebt($index, debt)">
                            <i class="fa fa-clone"></i>
                        </button>
                        <button class="btn btn-danger" ng-class="{disabled: bc.tabDelete}" ng-click="bc.deleteDebt($index)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>