<div role="form">
    <div class="box-body">
        <div class="row">
            <field id="name" label="Nome" grid="12 4" placeholder="Informe o Nome" model="bc.billingCycle.name" readonly="bc.tabDelete"></field>
            <field id="month" label="Mês" grid="12 4" placeholder="Informe o Mês" type="number" model="bc.billingCycle.month" readonly="bc.tabDelete"></field>
            <field id="year" label="Ano" grid="12 4" placeholder="Informe o Ano" type="number" model="bc.billingCycle.year" readonly="bc.tabDelete"></field>
        </div>
        <div class="row">
            <fieldset>
                <legend>Resumo</legend>
                <div ng-include="'billingCycle/summary.html'"></div>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <fieldset>
                    <legend>Créditos</legend>
                    <div ng-include="'billingCycle/creditList.html'"></div>
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-6">
                <fieldset>
                    <legend>Débitos</legend>
                    <div ng-include="'billingCycle/debtList.html'"></div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-if="bc.tabCreate" ng-click="bc.create()">Incluir</button>
        <button class="btn btn-info" ng-if="bc.tabUpdate" ng-click="bc.update()">Alterar</button>
        <button class="btn btn-danger" ng-if="bc.tabDelete" ng-click="bc.delete()">Excluir</button>
        <button class="btn btn-default" ng-click="bc.refresh()">Cancelar</button>
    </div>
</div>